.about {
  @include font(17px, 20px, bold);
  margin-bottom: 54px;
}

.about__title {
  @include font(25px, 30px, bold);
  padding-left: 29px;
  margin-bottom: 87px;
}

.about__item {
  letter-spacing: 0.2px;
  width: 260px;
  margin-bottom: 83px;
  margin-left: 29px;
  position: relative;
  box-sizing: border-box;

  &--flower {
    padding-right: 60px;
  }

  &--money {
    padding-right: 40px;
  }

  &--heart {
    padding-right: 60px;
  }

  &--gift {
    padding-right: 40px;
    margin-bottom: 0;
  }
}

.about__icon {
  position: absolute;
  top: -55px;
  fill: $turquoise;
  box-sizing: content-box;

  &--flower {
    left: 10px;
  }

  &--money {
    left: 2px;
  }

  &--heart {
    top: -50px;
    left: 8px;
  }

  &--ball {
    top: -52px;
    left: 5px;
  }

  &--rocket {
    top: -51px;
    left: -4px;
  }

  &--gift {
    top: -53px;
    left: 6px;
  }
}

@media (min-width: $tablet-width) {
  .about {
    margin-bottom: 83px;
  }

  .about__title {
    @include font(43px, 50px, bold);
    letter-spacing: -0.4px;
    margin-bottom: 102px;
    padding-left: 47px;
  }

  .about__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 47px;
  }

  .about__item {
    @include font(20px, 22px, bold);
    width: 310px;
    margin-left: 0;
    margin-right: 25px;
    margin-bottom: 111px;
    padding-left: 3px;

    &--flower {
      padding-right: 80px;
      order: -1;
    }

    &--heart {
      padding-right: 80px;
      order: 1;
      margin-bottom: 0;
    }

    &--ball {
      padding-right: 50px;
      order: -1;
    }

    &--rocket {
      padding-right: 0;
    }

    &--gift {
      order: 1;
      margin-bottom: 0;
    }
  }

  .about__icon {
    &--flower {
      left: 12px;
    }

    &--money {
      top: -52px;
      left: 4px;
    }

    &--heart {
      top: -48px;
      left: 10px;
    }

    &--ball {
      top: -51px;
    }

    &--rocket {
      top: -50px;
    }

    &--gift {
      top: -51px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-bottom: 90px;
  }

  .about__title {
    @include font(53px, 57px, bold);
    padding-left: 220px;
    margin-bottom: 103px;
  }

  .about__list {
    width: 710px;
    padding-left: 0;
    margin: 0 auto;
  }

  .about__item {
    padding-left: 4px;
    margin-right: 42px;
  }

  .about__icon {
    &--flower {
      top: -54px;
      left: 14px;
    }

    &--heart {
      top: -48px;
      left: 14px;
    }

    &--ball {
      top: -51px;
      left: 6px;
    }

    &--money {
      top: -53px;
      left: 7px;
    }

    &--rocket {
      top: -50px;
      left: -3px;
    }

    &--gift {
      top: -52px;
      left: 7px;
    }
  }
}
