.about {
  @include font(17px, 20px, bold);
  margin-bottom: 26px;
}

.about__title {
  @include font(25px, 30px, bold);
  padding-left: 29px;
  margin-bottom: 32px;
}

.about__list {
  display: flex;
  flex-direction: column;
}

.about__item {
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 95px;
  margin-bottom: 28px;
  margin-left: 29px;
  position: relative;

  &--flower {
    width: 190px;
  }

  &--money {
    width: 220px;
  }

  &--heart {
    width: 200px;
  }

  &--ball {
    width: 220px;
  }

  &--rocket {
    width: 260px;
  }

  &--gift {
    width: 220px;
  }
}

.about__item-icon {
  position: relative;
  fill: $turquoise;
  box-sizing: content-box;

  &--flower {
    width: 32px;
    height: 37px;
    left: 10px;
  }

  &--money {
    width: 47px;
    height: 27px;
    left: 2px;
  }

  &--heart {
    width: 34px;
    height: 27px;
    top: 5px;
    left: 8px;
  }

  &--ball {
    width: 35px;
    height: 34px;
    top: 3px;
    left: 5px;
  }

  &--rocket {
    width: 55px;
    height: 23px;
    top: 3px;
    left: -4px;
  }

  &--gift {
    width: 33px;
    height: 32px;
    top: 1px;
    left: 5px;
  }
}

@media (min-width: $tablet-width) {
  .about {
    margin-bottom: 20px;
  }

  .about__block {
    width: 673px;
    margin-right: auto;
    margin-left: auto;
  }

  .about__title {
    @include font(43px, 50px, bold);
    letter-spacing: -0.4px;
    margin-bottom: 50px;
    padding-left: 0;
  }

  .about__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about__item {
    @include font(20px, 22px, bold);
    min-height: 96px;
    margin-left: 0;
    margin-bottom: 60px;
    padding-left: 1px;

    &--flower {
      width: 230px;
      margin-right: 105px;
      order: -1;
    }

    &--money {
      width: 250px;
      margin-right: 85px;
    }

    &--heart {
      width: 230px;
      margin-right: 105px;
      order: 1;
    }

    &--ball {
      width: 260px;
      order: -1;
    }

    &--rocket {
      width: 300px;
    }

    &--gift {
      width: 300px;
      order: 1;
    }
  }

  .about__item-icon {
    &--money {
      top: 0;
    }

    &--heart {
      top: 4px;
      left: 10px;
    }

    &--ball {
      left: 3px;
    }

    &--rocket {
      top: 2px;
      left: -7px;
    }

    &--gift {
      top: 0;
      left: 3px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-bottom: 22px;
  }

  .about__block {
    width: 710px;
  }

  .about__title {
    @include font(53px, 57px, bold);
  }

  .about__item {
    min-height: 95px;
    padding-left: 4px;

    &--flower {
      margin-right: 117px;
    }

    &--money {
      margin-right: 98px;
    }

    &--heart {
      margin-right: 117px;
    }
  }

  .about__item-icon {
    &--flower {
      top: -2px;
    }

    &--heart {
      left: 9px;
    }

    &--ball {
      top: 0;
    }
  }
}
