.button {
  @include font(17px, 16px, bold, $greyish-brown);
  font-family: $font-primary;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding-top: 17px;
  padding-right: 15px;
  padding-bottom: 16px;
  padding-left: 15px;
  background-color: $white;
  border: 2px solid $greyish-brown;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $greyish-brown;
    color: $white;
  }

  &:active {
    background-color: $greyish-brown;
    color: rgba($white, 0.3);
  }
}
