.catalog__title {
  background-color: $grey;
  text-align: center;
  padding: 74px 0;
  margin-bottom: 30px;
}

.goods__item {
  margin-bottom: 30px;
}

.goods__product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goods__description {
  outline: 1px solid $white-four;
  display: flex;
  flex-direction: column;
}

.goods__title {
  @include font(17px, 24px, bold);
  width: 200px;
  padding-left: 28px;
}

.goods__parameters {
  @include font(13px, 30px, normal, $greyish-brown);
  padding-left: 29px;
}

.goods__buy {
  margin: 0 28px;
  padding: 27px 0 30px;
  box-shadow: 0 -1px 0 $white-four;
}

.goods__price {
  @include font(15px, 24px, bold);
}

.goods__link-image {
  order: -1;
}

@media (min-width: 768px) {
  .goods__product {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1150px) {
  .goods {
    display: flex;
    justify-content: space-around;
  }

  .goods__product {
    flex-direction: column;
  }
}
