.catalog {
  &__title {
    background-color: $grey;
    text-align: center;
    padding: 74px 0;
    margin-bottom: 30px;
  }
}

.goods {
  &__item {
    margin-bottom: 30px;
  }

  &__product {
    outline: 1px solid $white-four;
  }

  &__title {
    @include font(17px, 24px, bold);

    padding-left: 28px;
  }

  &__parameters {
    @include font(13px, 30px, normal, $greyish-brown);
    padding-left: 29px;
  }

  &__buy {
    margin: 0 28px;
    padding: 27px 0 30px;
    box-shadow: 0 -1px 0 $white-four;
  }

  &__price {
    @include font(15px, 24px, bold);
  }
}

