.categories__list {
  padding-top: 2px;
}

.categories__item {
  background-color: $turquoise;
  display: flex;

  &:first-of-type > .categories__link {
    &::after {
      content: "";
      width: 40px;
      height: 62px;
      background-image: url("../img/icon-interior.svg");
      position: absolute;
      top: 24px;
      right: 36px;
    }
    background-color: $turquoise;
  }

  &:last-of-type {
    background-color: $turquoise-darken;
  }

  &:last-of-type > .categories__link {
    &::after {
      content: "";
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-toy.svg");
      position: absolute;
      top: 22px;
      right: 26px;
    }
    background-color: $turquoise-darken;
  }

  &:hover > .categories__link::after,
  &:focus > .categories__link::after {
    opacity: 0.7;
  }

  &:active > .categories__text,
  & > .categories__link:active .categories__text {
    color: rgba($white, 0.3);
  }

  &:active > .categories__link::after,
  & > .categories__link:active::after {
    opacity: 0.3;
  }
}

.categories__link {
  @include font(19px, 24px, bold, $white);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-top: 27px;
  padding-bottom: 28px;
  padding-left: 29px;
  background-color: $turquoise;
  position: relative;

  &:hover {
    transform: translateY(-5px);
  }
}

.categories__text {
  width: 106px;
  display: block;
}

@media (min-width: $tablet-width) {
  .categories__list {
    display: flex;
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
    padding-top: 0;
  }

  .categories__item {
    flex-grow: 1;

    &:first-of-type > .categories__link::after {
      top: 29px;
      right: 36px;
    }

    &:last-of-type > .categories__link::after {
      top: 31px;
      right: 33px;
    }
  }

  .categories__link {
    @include font(20px, 30px, bold, $white);
    padding-top: 28px;
    padding-bottom: 30px;
    padding-left: 36px;
  }
}

@media (min-width: $desktop-width) {
  .categories__list {
    width: 1050px;
  }
}
