.categories__list {
  padding-top: 2px;
}

.categories__item {
  background-color: $turquoise;
  display: flex;

  &:last-of-type {
    background-color: $turquoise-darken;
  }

  &:last-of-type > .categories__link {
    background-color: $turquoise-darken;
  }

  &:hover > .categories__link .categories__icon-interior,
  &:focus > .categories__link .categories__icon-interior,
  &:hover > .categories__link .categories__icon-toy,
  &:focus > .categories__link .categories__icon-toy {
    fill: rgba($blue-green, 0.7);
  }

  &:active > .categories__link .categories__text,
  &:active > .categories__link .categories__icon-interior,
  &:active > .categories__link .categories__icon-toy,
  & > .categories__link:active .categories__text,
  & > .categories__link:active .categories__icon-interior,
  & > .categories__link:active .categories__icon-toy {
    color: rgba($white, 0.3);
    fill: rgba($blue-green, 0.3);
  }
}

.categories__link {
  @include font(19px, 24px, bold, $white);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-top: 27px;
  padding-bottom: 28px;
  padding-left: 29px;
  background-color: $turquoise;
  position: relative;

  &:hover {
    transform: translateY(-5px);
  }
}

.categories__icon-interior {
  position: absolute;
  top: 24px;
  right: 36px;
  fill: rgba($blue-green, 0.5);
}

.categories__icon-toy {
  position: absolute;
  top: 22px;
  right: 26px;
  fill: rgba($blue-green, 0.5);
}

.categories__text {
  width: 106px;
  display: block;
}

@media (min-width: $tablet-width) {
  .categories__list {
    display: flex;
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
    padding-top: 0;
  }

  .categories__item {
    flex-grow: 1;

    &:first-of-type > .categories__link::after {
      top: 29px;
      right: 36px;
    }

    &:last-of-type > .categories__link::after {
      top: 31px;
      right: 53px;
    }
  }

  .categories__link {
    @include font(20px, 30px, bold, $white);
    padding-top: 28px;
    padding-bottom: 30px;
    padding-left: 36px;
  }
}

@media (min-width: $desktop-width) {
  .categories__list {
    width: 1050px;
  }
}
