.copyright {
  width: 260px;
  margin-bottom: 30px;
  box-shadow: 0 -1px 0 0 $white-four;
}

.copyright__text {
  @include font(19px, 18px, bold);
  padding: 0;
  margin-right: auto;
}

.copyright__icon {
  padding-top: 4px;
  fill: $turquoise;
}

.copyright__link {
  padding-top: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 38px;
  padding-right: 39px;
  position: relative;

  &::before {
    @include svg-ie-fix;
  }

  &:hover svg,
  &:focus svg {
    fill: $turquoise-darken;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
    box-shadow: none;
  }

  .copyright__text {
    @include font(19px, 18px, bold);
  }

  .copyright__link {
    padding: 0;
    padding-top: 4px;
    padding-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    width: auto;
    box-shadow: none;
  }

  .copyright__text {
    width: 158px;
  }
}
