.divider {
  width: 100%;
  height: 6px;
  margin-right: auto;
  margin-left: auto;
  content: "";
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat;
  background-size: contain;
  background-position-x: 2px;
  transform: rotate(180deg);
}

.divider:first-of-type {
  margin-bottom: 26px;
}

.divider:last-of-type {
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .divider {
    height: 15px;
    margin-bottom: 50px;
    background-position-x: -10px;
  }

  .divider:first-of-type {
    margin-bottom: 51px;
  }

  .divider:last-of-type {
    margin-bottom: 47px;
  }
}

@media (min-width: $desktop-width) {
  .divider {
    height: 21px;
    background-position-x: -4px;
    transform: rotate(180deg);
  }

  .divider:first-of-type {
    margin-bottom: 62px;
  }

  .divider:last-of-type {
    margin-bottom: 49px;
  }
}
