.order-form {
  margin-bottom: 54px;
}

.order-form__title {
  @include font(27px, 30px, bold);
  text-align: center;
  padding-top: 69px;
  padding-bottom: 75px;
  margin: 0;
  margin-bottom: 22px;
  background-color: $grey;
}

.order-form__text {
  @include font(13px, 24px, normal, $greyish-brown);
  width: 260px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.order-form .fieldset {
  width: 260px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  border: 0;
}

.legend {
  position: relative;

  &::before {
    content: "";
    width: 200px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 60px;
    border-top: 1px solid $turquoise;
  }
}

.order-form__heading {
  @include font(17px, 16px, bold, $turquoise);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .order-form {
    margin-top: -42px;
    margin-bottom: 49px;
  }

  .order-form__title {
    @include font(43px, 50px, bold);
    padding-top: 93px;
    padding-bottom: 90px;
    margin-bottom: 64px;
    position: relative;
    box-shadow: 0 -1px 0 0 $white-four;

    &::before {
      content: "";
      width: 100%;
      height: 22px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .order-form__text {
    @include font(17px, 30px, normal, $greyish-brown);
    width: 668px;
    padding-left: 0;
    margin: 0 auto;
    margin-bottom: 49px;
  }

  .order-form .fieldset {
    width: 668px;
    display: flex;
    flex-direction: row;
  }

  .legend {
    &::before {
      content: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    margin-top: -70px;
  }

  .order-form__title {
    @include font(53px, 57px, bold);
    padding-top: 93px;
    padding-bottom: 108px;
    margin-bottom: 117px;
  }

  .order-form__text {
    width: 700px;
    padding-left: 0;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
