.order-form__info {
  margin-bottom: 5px;
}

.order-form__info .legend {
  margin-bottom: 25px;
}

.additional-info__text {
  @include font(17px, 18px, normal, $greyish-brown);
  width: 226px;
  height: 108px;
  font-family: $font-primary;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 16px;
  padding-left: 15px;
  border: 2px solid $black;
  box-sizing: content-box;
  overflow: auto;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    border: 2px solid $turquoise-hover;
  }
}

@media (min-width: $tablet-width) {
  .order-form__info {
    margin-bottom: 0;
  }

  .order-form__info .legend {
    padding-top: 16px;
    margin-right: 128px;
    margin-bottom: 0;
    background-color: transparent;
  }

  .additional-info {
    width: 466px;
    margin-bottom: 49px;
  }

  .additional-info__text {
    @include font(19px, 18px, normal, $greyish-brown);
    width: 100%;
    padding-top: 12px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset.order-form__info {
    width: 922px;
  }

  .order-form__info .legend {
    margin-right: 74px;
  }

  .additional-info {
    width: 664px;
    margin-bottom: 45px;
  }
}
