.order-form__footnote {
  display: block;
  letter-spacing: 0.4px;
  width: 260px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.order-form__send-btn {
  width: 226px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .order-form__bottom {
    width: 666px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }

  .order-form__footnote {
    @include font(17px, 30px, normal, $greyish-brown);
    letter-spacing: 0;
    width: auto;
    padding-top: 2px;
    padding-left: 2px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    order: 1;
  }

  .order-form__send-btn {
    @include font(17px, 16px, bold);
    width: 226px;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .order-form__bottom {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }

  .order-form__footnote {
    padding-top: 4px;
    padding-left: 0;
  }

  .order-form__send-btn {
    @include font(17px, 16px, bold);
  }
}
