.form__container {
  &--type {
    margin-bottom: 26px;
  }

  &--color {
    margin-bottom: 32px;
  }

  &--name {
    margin-bottom: 32px;
  }

  &--phone,
  &--email {
    margin-bottom: 34px;
  }

  &--info {
    margin-bottom: 5px;
  }
}

.form__fieldset {
  width: 260px;
  padding: 0;
  margin: 0 auto;
  border: 0;
}

.form__legend {
  @include font(17px, 16px, bold, $turquoise);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  position: relative;

  &::before {
    content: "";
    width: 200px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 60px;
    border-top: 1px solid $turquoise;
  }

  &--type {
    padding-right: 25px;
    margin-bottom: 26px;
  }

  &--color {
    padding-right: 15px;
    margin-bottom: 25px;
  }

  &--name {
    padding-right: 20px;
    margin-bottom: 27px;
  }

  &--email {
    &::before {
      width: 180px;
      left: 80px;
    }
  }

  &--info {
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .form__container {
    width: 100%;
    display: flex;
    flex-direction: row;

    &--type {
      margin-bottom: 45px;
    }

    &--color {
      padding-top: 50px;
      padding-bottom: 26px;
      margin-bottom: 49px;
      background-color: $grey;
    }

    &--phone,
    &--email {
      background-color: $grey;
    }

    &--phone {
      padding-top: 42px;
      margin-bottom: 0;
      background-color: $grey;
    }

    &--email {
      padding-top: 19px;
      padding-bottom: 50px;
      margin-bottom: 50px;
    }

    &--info {
      margin-bottom: 0;
    }
  }

  .form__fieldset {
    width: 668px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .form__legend {
    &::before {
      content: none;
    }

    &--type {
      padding-top: 25px;
      padding-right: 0;
      margin-bottom: 0;
      margin-right: 130px;
    }

    &--color {
      padding-top: 18px;
      margin-right: 108px;
      background-color: transparent;
    }

    &--name {
      padding-top: 18px;
      padding-right: 0;
      margin-right: 125px;
      margin-bottom: 0;
    }

    &--phone,
    &--email {
      padding-top: 23px;
    }

    &--phone {
      margin-right: 136px;
    }

    &--email {
      margin-right: 110px;
    }

    &--info {
      padding-top: 16px;
      margin-right: 128px;
      margin-bottom: 0;
      background-color: transparent;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__container {
    &--color {
      margin-bottom: 49px;
    }

    &--email {
      padding-top: 19px;
      margin-bottom: 50px;
    }
  }

  .form__fieldset {
    width: 926px;

    &--info {
      width: 922px;
    }
  }

  .form__legend {
    margin-right: 75px;

    &--color {
      padding-top: 18px;
      padding-right: 0;
      margin-right: 69px;
      background-color: transparent;
    }

    &--name {
      padding-top: 18px;
      margin-right: 73px;
    }

    &--phone {
      margin-right: 81px;
    }

    &--email {
      padding-top: 25px;
      margin-right: 56px;
    }

    &--info {
      margin-right: 72px;
    }
  }
}
