.order-form__phone,
.order-form__email {
  margin-bottom: 34px;
}

.order-form__email .legend {
  &::before {
    left: 80px;
  }
}

.phone__item,
.email__item {
  position: relative;
}

.phone__input,
.email__input {
  width: 80%;
  border: 0;
  outline: none;

  &:focus + label {
    box-shadow: 0 2px 0 0 $turquoise-hover;
  }
}

.phone__input {
  @include font(19px, 18px, normal, $greyish-brown);
  letter-spacing: -1.2px;
  padding-top: 20px;
  padding-bottom: 14px;

  &:focus + label .phone__icon {
    fill: $turquoise-hover;
  }
}

.email__input {
  @include font(17px, 18px, normal, $greyish-brown);
  padding-top: 23px;
  padding-bottom: 16px;

  &:focus + label .email__icon {
    fill: $turquoise-hover;
  }
}

.phone__label,
.email__label {
  box-shadow: 0 2px 0 0 $black;
  position: absolute;
  cursor: text;

  @include svg-ie-fix;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 2px 0 0 $turquoise-hover;
  }

  &:hover svg,
  &:focus svg,
  &:active svg {
    fill: $turquoise-hover;
  }
}

.phone__input--phone[type="tel"]:focus + label {
  box-shadow: 0 2px 0 0 $turquoise-hover;
}

.phone__icon,
.email__icon {
  cursor: pointer;
  position: absolute;
  fill: rgba($black, 0.2);
}

.phone__icon {
  top: 17px;
  right: 8px;
}

.email__icon {
  top: 18px;
  right: 4px;
}

@media (min-width: $tablet-width) {
  .fieldset.order-form__phone,
  .fieldset.order-form__email {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $grey;
  }

  .fieldset.order-form__phone {
    padding-top: 42px;
    margin-bottom: 0;
    background-color: $grey;
  }

  .fieldset.order-form__email {
    padding-top: 19px;
    padding-bottom: 52px;
    margin-bottom: 52px;
  }

  .order-form__phone-container,
  .order-form__email-container {
    display: flex;
    flex-direction: row;
  }

  .order-form__phone .legend,
  .order-form__email .legend {
    padding-top: 25px;
  }

  .order-form__phone .legend {
    margin-right: 133px;
  }

  .order-form__email .legend {
    margin-right: 107px;
  }

  .phone,
  .email {
    width: 500px;
  }

  .phone__input,
  .email__input {
    @include font(19px, 18px, normal, $greyish-brown);
    padding-top: 21px;
    padding-left: 17px;
    padding-bottom: 14px;
    background-color: transparent;
  }

  .phone__icon {
    top: 17px;
    right: 26px;
  }

  .email__icon {
    top: 18px;
    right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset.order-form__email {
    padding-top: 19px;
    margin-bottom: 52px;
  }

  .order-form__phone-container,
  .order-form__email-container {
    width: 1150px;
    display: flex;
    flex-direction: row;
  }

  .order-form__phone .legend {
    padding-left: 112px;
    margin-right: 81px;
  }

  .order-form__email .legend {
    padding-top: 27px;
    padding-left: 111px;
    margin-right: 56px;
  }

  .phone,
  .email {
    width: 700px;
  }

  .phone__icon {
    top: 17px;
    right: 8px;
  }

  .email__icon {
    top: 18px;
    right: 3px;
  }
}
