.order-form__color .legend {
  padding-right: 15px;
  margin-bottom: 25px;
}

.order-form__color {
  margin-bottom: 42px;
}

.color__item:not(:last-of-type) {
  margin-bottom: 32px;
}

.color__label {
  @include font(17px, 18px, bold);
  position: relative;
  display: flex;
  padding-top: 11px;
  padding-left: 63px;
  box-sizing: content-box;
  cursor: pointer;

  &::before {
    content: "";
    width: 36px;
    height: 35px;
    border: 2px solid $black;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover,
  &:focus {
    &::before {
      border: 2px solid $turquoise-hover;
    }
  }

  &:active {
    &::before {
      border: 2px solid rgba($greyish-brown, 0.3);
    }
  }
}

.color__input--checkbox:focus + .color__label::before {
  border: 2px solid $turquoise-hover;
}

.color__input--checkbox:checked + .color__label::after {
  content: "";
  width: 22px;
  height: 16px;
  background-image: url("../../img/icon-tick.svg");
  background-size: cover;
  position: absolute;
  top: 12px;
  left: 8px;
}

@media (min-width: $tablet-width) {
  .fieldset.order-form__color {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 26px;
    margin-bottom: 49px;
    background-color: $grey;
  }

  .order-form__color-container {
    width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .order-form__color .legend {
    padding-top: 18px;
    padding-left: 50px;
    margin-right: 78px;
    background-color: transparent;
  }

  .color {
    display: flex;
    font-display: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0;
  }

  .color__item:not(:last-of-type) {
    margin-bottom: 26px;
  }

  .color__label {
    @include font(19px, 18px, bold, $black);
    width: 182px;
    height: 50px;
    align-items: center;
    padding-top: 0;
    padding-left: 80px;
  }

  .color__label::before {
    content: "";
    width: 50px;
    height: 48px;
  }

  .color__input:checked + .color__label::after {
    width: 33px;
    height: 23px;
    top: 16px;
    left: 11px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset.order-form__color {
    margin-bottom: 49px;
  }


  .order-form__color-container {
    width: 1150px;
  }

  .order-form__color .legend {
    padding-top: 18px;
    padding-right: 0;
    padding-left: 111px;
    margin-right: 71px;
    background-color: transparent;
  }

  .color {
    justify-content: flex-start;
  }
}
