.how-its-made {
  outline: 1px solid $white-four;
  margin-bottom: 58px;

  &__title {
    @include font(17px, 24px, bold);
  }

  &__text {
    @include font(13px, 24px, normal, $greyish-brown);
  }

  &__description {
    padding-bottom: 33px;
  }

  &__order {
    width: 186px;
  }
}
