.intro {
  margin-bottom: 3px;
  background-color: $grey-lite;
  box-shadow: 0 -1px 0 0 $white-four;
}

.intro__block {
  margin-right: auto;
  margin-left: auto;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -127px -19px;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.intro__title {
  @include font(26.5px, 29.5px, bold);
  letter-spacing: 0.5px;
  text-align: center;
  width: 250px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 120px;
  margin-left: auto;
  padding-top: 71px;
}

@media (min-width: $tablet-width) {
  .intro {
    margin-top: -70px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 -1px 0 0 $white-four;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      position: absolute;
      bottom: -12px;
    }
  }

  .intro__block {
    width: 772px;
    min-height: 746px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: -190px 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .intro__title {
    @include font(43px, 50px, bold);
    width: 600px;
    margin: 0 auto;
    margin-bottom: 373px;
    padding-top: 154px;
    letter-spacing: 0.2px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-width: 1150px;
    margin-bottom: 70px;

    &::after {
      width: 100%;
      height: 34px;
      bottom: -16px;
    }
  }

  .intro__block {
    width: 1150px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .intro__title {
    @include font(53px, 57px, bold);
    width: 620px;
    margin-bottom: 360px;
    padding-top: 154px;
  }
}
