.intro {
  margin-bottom: 28px;
}

.intro__block {
  width: 320px;
  margin: 0 auto;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -127px -19px;
  position: relative;
}

.intro__title {
  @include font(26.5px, 29.5px, bold);
  text-align: center;
  margin-bottom: 120px;
  padding-top: 73px;
  letter-spacing: 0.5px;
}

.categories__list {
  padding-top: 2px;
}

.categories__item {
  background-color: $teal;
  display: flex;
}

.categories__item:last-of-type {
  background-color: $teal-darken;
}

.categories__item:last-of-type > .categories__link {
  background-color: $teal-darken;
}

.categories__link {
  @include font(19px, 24px, bold, $white);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-top: 27px;
  padding-bottom: 28px;
  padding-left: 29px;
  background-color: $teal;
  position: relative;

  &::after {
    margin-left: auto;
  }
}

.categories__item:first-of-type > .categories__link::after {
  content: url("../../img/icon-interior.svg");
  width: 40px;
  height: 62px;
  top: 24px;
  right: 36px;
  position: absolute;
  opacity: 0.5;
}

.categories__item:last-of-type > .categories__link::after {
  content: url("../../img/icon-toy.svg");
  width: 40px;
  height: 62px;
  position: absolute;
  top: 22px;
  right: 46px;
  opacity: 0.5;
}

.categories__text {
  width: 106px;
  display: block;
}

@media (min-width: 768px) {
  .intro {
    min-width: 768px;
    margin-bottom: 44px;
  }

  .intro__block {
    width: 772px;
    min-height: 746px;
    margin-top: -42px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: -190px 0;
  }

  .intro__block::after {
    content: "";
    width: 772px;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: contain;
    position: absolute;
    bottom: -12px;
  }

  .intro__title {
    @include font(43px, 50px, bold);
    width: 600px;
    margin: 0 auto;
    margin-bottom: 373px;
    padding-top: 154px;
    letter-spacing: 0.2px;
  }

  .intro__title > br {
    display: none;
  }

  .categories__list {
    display: flex;
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
    padding-top: 0;
  }

  .categories__item {

    flex-grow: 1;
  }

  .categories__link {
    @include font(20px, 30px, bold, $white);
    padding-top: 28px;
    padding-bottom: 30px;
    padding-left: 36px;
  }

  .categories__item:first-of-type > .categories__link::after {
    top: 29px;
    right: 36px;
  }

  .categories__item:last-of-type > .categories__link::after {
    top: 31px;
    right: 53px;
  }
}

@media (min-width: 1150px) {
  .intro {
    min-width: 1150px;
    margin-bottom: 44px;
  }

  .intro__block {
    width: 1150px;
    margin-top: -74px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: 0 0;
  }

  .intro__block::after {
    width: 1150px;
    height: 34px;
    bottom: -17px;
    transform: scaleX(1.09);
  }

  .intro__title {
    @include font(53px, 57px, bold);
    width: 620px;
    margin-bottom: 360px;
    padding-top: 154px;
  }

  .categories__list {
    width: 1050px;
  }
}
