.intro {
  min-width: 320px;
  margin-bottom: 56px;
}

.intro__block {
  width: 320px;
  margin: 0 auto;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -125px -23px;
  position: relative;
}

.intro__title {
  @include font(26.5px, 29.5px, bold);
  text-align: center;
  margin-bottom: 120px;
  padding-top: 70px;
}

.categories__item {
  background-color: $teal;
  display: flex;
}

.categories__item:last-of-type {
  background-color: $teal-darken;
}

.categories__item:last-of-type > .categories__link {
  background-color: $teal-darken;
}

.categories__link {
  @include font(19px, 24px, bold, $white);
  background-color: $teal;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 29px;
  flex-grow: 1;
}

.categories__text {
  width: 106px;
  display: block;
}

@media (min-width: 768px) {
  .intro {
    min-width: 768px;
    margin-bottom: 44px;
  }

  .intro__block {
    width: 772px;
    min-height: 746px;
    margin-top: -42px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: -190px 0;
  }

  .intro__block::after {
    content: "";
    width: 772px;
    height: 24px;
    background-image: url("../../img/bg-zigzag-fill.svg");
    background-size: contain;
    position: absolute;
    bottom: -12px;
  }

  .intro__title {
    @include font(43px, 50px, bold);
    width: 600px;
    margin: 0 auto;
    margin-bottom: 373px;
    padding-top: 152px;
  }

  .categories__list {
    display: flex;
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
  }

  .categories__item {
    flex-grow: 1;
  }

  .categories__link {
    @include font(20px, 30px, bold, $white);
    padding-top: 28px;
    padding-bottom: 30px;
    padding-left: 36px;
  }
}

@media (min-width: 1150px) {
  .intro {
    min-width: 1150px;
    margin-bottom: 44px;
  }

  .intro__block {
    width: 1150px;
    margin-top: -74px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: 0 0;
  }

  .intro__block::after {
    width: 1150px;
    height: 34px;
    bottom: -17px;
    transform: scaleX(1.09);
  }

  .intro__title {
    @include font(53px, 57px, bold);
    width: 620px;
    margin-bottom: 360px;
    padding-top: 154px;
  }

  .categories__list {
    width: 1050px;
  }
}
