.order-form {
  margin-bottom: 54px;
  box-shadow: 0 -1px 0 0 $white-four;
}

.order-form__title-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 47px;
  padding-bottom: 55px;
  margin-bottom: 20px;
  background-color: $grey;
}

.order-form__title {
  @include font(27px, 30px, bold);
  text-align: center;
  width: 260px;
}

.order-form__text {
  @include font(13px, 24px, normal, $greyish-brown);
  width: 260px;
  margin: 0 auto;
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .order-form {
    margin-top: -70px;
    margin-bottom: 50px;
  }

  .order-form__title-wrap {
    padding-top: 58px;
    padding-bottom: 45px;
    margin-bottom: 74px;
    position: relative;

    &::before {
      content: "";
      width: 768px;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: space;
      background-size: 768px 100%;
      position: absolute;
      bottom: -14px;
      left: calc(50% - 384px);
    }
  }

  .order-form__title {
    @include font(43px, 50px, bold);
    width: 600px;
  }

  .order-form__text {
    @include font(17px, 30px, normal, $greyish-brown);
    width: 668px;
    padding-left: 0;
    margin: 0 auto;
    margin-bottom: 49px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__title-wrap {
    padding-top: 50px;
    padding-bottom: 57px;
    margin-bottom: 124px;

    &::before {
      content: "";
      width: 1150px;
      height: 34px;
      background-size: 1150px 100%;
      background-repeat: no-repeat;
      position: absolute;
      bottom: -20px;
      left: calc(50% - 575px);
    }
  }

  .order-form__title {
    @include font(53px, 57px, bold);
    width: 670px;
  }

  .order-form__text {
    width: 700px;
    padding-left: 0;
    margin: 0 auto;
    margin-bottom: 48px;
  }
}
