.order-form {
  margin-bottom: 55px;
}

.order-form__title {
  @include font(27px, 30px, bold);
  text-align: center;
  padding-top: 71px;
  padding-bottom: 75px;
  margin: 0;
  margin-bottom: 22px;
  background-color: $grey;
}

.order-form__text {
  @include font(13px, 24px, normal, $greyish-brown);
  width: 260px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

// fieldsets ------------------------------------------------------------------

.order-form .fieldset {
  width: 260px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  border: 0;
}

.legend {
  position: relative;

  &::before {
    content: "";
    width: 200px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 60px;
    border-top: 1px solid $turquoise;
  }
}

.order-form__heading {
  @include font(17px, 16px, bold, $turquoise);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

// type fieldset ------------------------------------------------------------

.order-form__type {
  margin-bottom: 44px;
}

.order-form__type > .order-form__heading {
  padding-right: 25px;
  margin-bottom: 19px;
}

.type__label {
  @include font(17px, 18px, bold);
  position: relative;
  display: flex;
  box-sizing: content-box;

  &::before {
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid $black;
    border-radius: 50%;
    position: absolute;
  }
}

.type__item:first-of-type > .type__label {
  padding-top: 15px;
  padding-left: 62px;
}

.type__item:last-of-type > .type__label {
  padding-top: 25px;
  padding-left: 62px;
}

.type__item:first-of-type > .type__label::before {
  top: 7px;
  left: 0;
}

.type__item:last-of-type > .type__label::before {
  top: 15px;
  left: 0;
}

.type__input:checked + .type__label::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $turquoise;
  position: absolute;
}

.type__item:first-of-type > .type__input:checked + .type__label::after {
  top: 19px;
  left: 12px;
}

.type__item:last-of-type > .type__input:checked + .type__label::after {
  top: 27px;
  left: 12px;
}

// color fieldset -------------------------------------------------------------

.order-form__color > .order-form__heading {
  padding-right: 15px;
  margin-bottom: 25px;
}

.order-form__color {
  margin-bottom: 42px;
}

.color__item:not(:last-of-type) {
  margin-bottom: 32px;
}

.color__label {
  @include font(17px, 18px, bold);
  position: relative;
  display: flex;
  padding-top: 11px;
  padding-left: 63px;
  box-sizing: content-box;
}

.color__label::before {
  content: "";
  width: 36px;
  height: 35px;
  border: 2px solid $black;
  position: absolute;
  top: 0;
  left: 0;
}

.color__input:checked + .color__label::after {
  content: "";
  width: 22px;
  height: 16px;
  background-image: url("../../img/icon-tick.svg");
  background-size: cover;
  position: absolute;
  top: 12px;
  left: 8px;
}

// name fieldset --------------------------------------------------------------

.order-form__name {
  margin-bottom: 32px;
}

.order-form__name > .order-form__heading {
  padding-right: 20px;
  margin-bottom: 27px;
}

.name__item {
  margin-bottom: 20px;
}

.name__label {
  @include font(17px, 18px, bold);
  box-sizing: content-box;
}

.name__input {
  @include font(17px, 18px, normal, $greyish-brown);
  width: 100%;
  padding-top: 14px;
  padding-bottom: 17px;
  letter-spacing: 0.3px;
  border: 0;
  box-shadow: inset 0 -2px 0 0 $black;
}

.name__item:nth-last-child(2) > .name__input {
  margin-bottom: 1px;
}

// phone & email fieldset -------------------------------------------------------------

.order-form__phone,
.order-form__email {
  margin-bottom: 34px;
}

.order-form__email .legend {
  &::before {
    left: 80px;
  }
}

.phone__item,
.email__item {
  box-shadow: 0 2px 0 0 $black;
  position: relative;
}

.phone__input,
.email__input {
  width: 80%;
  border: 0;
}

.phone__input {
  @include font(19px, 18px, normal, $greyish-brown);
  letter-spacing: -1.2px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.email__input {
  @include font(17px, 18px, normal, $greyish-brown);
  padding-top: 23px;
  padding-bottom: 16px;
}

.phone__label,
.email__label {
  position: absolute;
  fill: $black-opacity-20;
}

.phone__label {
  top: 17px;
  right: 8px;
}

.email__label {
  top: 18px;
  right: 4px;
}

// info fieldset --------------------------------------------------------------

.order-form__info {
  margin-bottom: 7px;
}

.order-form__info > .order-form__heading {
  margin-bottom: 26px;
}

.additional-info__text {
  @include font(17px, 18px, normal, $greyish-brown);
  width: 226px;
  height: 108px;
  font-family: $font-primary;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  outline: 2px solid $black;
  box-sizing: content-box;
  overflow: auto;
}

.order-form__footnote {
  display: block;
  letter-spacing: 0.4px;
  width: 260px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.order-form__send-btn {
  width: 226px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .order-form {
    margin-bottom: 49px;
  }

  .order-form__block {
    width: 772px;
  }

  .order-form__title {
    @include font(43px, 50px, bold);
    padding-top: 95px;
    padding-bottom: 92px;
    margin-top: -42px;
    margin-bottom: 60px;
    position: relative;
    box-shadow: 0 -1px 0 0 $white-four;

    &::before {
      content: "";
      width: 100%;
      height: 22px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .order-form__text {
    @include font(17px, 30px, normal, $greyish-brown);
    width: 612px;
    padding-left: 52px;
    margin: 0;
    margin-bottom: 50px;
  }

  // filedsets -------------------------------------------------------------------

  .order-form .fieldset {
    width: 666px;
    display: flex;
    flex-direction: row;
  }

  .legend {
    &::before {
      content: none;
    }
  }

  // type fieldset ------------------------------------------------------------

  .order-form__type {
    margin-bottom: 45px;
  }

  .order-form__type .legend {
    margin-right: 130px;
  }

  .order-form__type > .order-form__heading {
    padding-top: 25px;
    padding-right: 0;
    margin-bottom: 0;
  }

  .type__label {
    @include font(19px, 18px, bold);
    align-items: center;
    height: 65px;

    &::before {
      width: 48px;
      height: 48px;
      margin-right: 29px;
      position: static;
    }
  }

  .type__item:first-of-type > .type__label {
    height: 65px;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 11px;
  }

  .type__item:last-of-type > .type__label {
    height: 65px;
    padding-top: 0;
    padding-left: 0;
  }

  .type__input:checked + .type__label::after {
    width: 21px;
    height: 21px;
  }

  .type__item:first-of-type > .type__input:checked + .type__label::after {
    top: 23px;
    left: 16px;
  }

  .type__item:last-of-type > .type__input:checked + .type__label::after {
    top: 23px;
    left: 16px;
  }

  // color fieldset -----------------------------------------------------------

  .fieldset.order-form__color {
    width: 772px;
    padding-top: 50px;
    padding-bottom: 26px;
    margin-bottom: 49px;
    background-color: $grey;
  }

  .order-form__color > .order-form__heading {
    padding-top: 18px;
    padding-right: 0;
    padding-left: 54px;
    background-color: transparent;
  }

  .order-form__color .legend {
    margin-right: 122px;
  }

  .color {
    display: flex;
    font-display: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 0;
  }

  .color__item:not(:last-of-type) {
    margin-bottom: 26px;
  }

  .color__label {
    @include font(19px, 18px, bold, $black);
    width: 182px;
    height: 50px;
    align-items: center;
    padding-top: 0;
    padding-left: 80px;
  }

  .color__label::before {
    content: "";
    width: 50px;
    height: 48px;
  }

  .color__input:checked + .color__label::after {
    width: 33px;
    height: 23px;
    top: 16px;
    left: 11px;
  }

  // name fieldset ------------------------------------------------------------

  .order-form__name {
    width: 670px;
  }

  .order-form__name > .legend {
    padding-top: 20px;
    padding-right: 0;
    margin-right: 125px;
    margin-bottom: 0;
  }

  .name {
    width: 100%;
  }

  .name__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
  }

  .name__item:not(:last-of-type) {
    margin-bottom: 24px;
  }

  .name__label {
    @include font(19px, 18px, bold, $black);
    margin-right: 25px;
  }

  .name__input {
    @include font(19px, 18px, normal, $greyish-brown);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 17px;
  }

  .name__item:nth-last-child(2) > .name__input {
    margin-bottom: 0;
  }

  // phone & email fieldset -------------------------------------------------------------

  .fieldset.order-form__phone {
    width: 100%;
    padding-top: 42px;
    margin-bottom: 0;
    background-color: $grey;
  }

  .fieldset.order-form__email {
    width: 100%;
    padding-top: 19px;
    padding-bottom: 52px;
    margin-bottom: 52px;
    background-color: $grey;
  }

  .order-form__phone > .legend,
  .order-form__email > .legend {
    padding-top: 25px;
    padding-left: 54px;
  }

  .order-form__phone > .legend {
    margin-right: 133px;
  }

  .order-form__email > .legend {
    margin-right: 107px;
  }

  .phone,
  .email {
    width: 500px;
  }

  .phone__input,
  .email__input {
    @include font(19px, 18px, normal, $greyish-brown);
    padding-top: 21px;
    padding-left: 17px;
    padding-bottom: 14px;
    background-color: transparent;
  }

  .phone__label {
    top: 17px;
    right: 26px;
  }

  .email__label {
    top: 18px;
    right: 22px;
  }

  // info fieldset --------------------------------------------------------------

  .order-form__info {
    margin-bottom: 0;
  }

  .order-form__info > .legend {
    padding-top: 16px;
    margin-right: 128px;
    margin-bottom: 0;
    background-color: transparent;
  }

  .additional-info {
    width: 466px;
    margin-bottom: 52px;
  }

  .additional-info__text {
    @include font(19px, 18px, normal, $greyish-brown);
    width: 100%;
    padding-top: 12px;
  }

  .order-form__bottom {
    width: 666px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }

  .order-form__footnote {
    @include font(17px, 30px, normal, $greyish-brown);
    letter-spacing: 0;
    width: auto;
    padding-top: 2px;
    padding-left: 2px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    order: 1;
  }

  .order-form__send-btn {
    @include font(17px, 16px, bold);
    width: 194px;
    padding-top: 16px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    margin-bottom: 49px;
  }

  .order-form__block {
    width: 1150px;
  }

  .order-form__title {
    @include font(53px, 57px, bold);
    padding-top: 93px;
    padding-bottom: 115px;
    margin-top: -68px;
    margin-bottom: 110px;
  }

  .order-form__text {
    width: 700px;
    padding-left: 0;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  // type fieldset ------------------------------------------------------------

  .fieldset.order-form__type {
    width: 920px;
    margin-bottom: 43px;
  }

  .order-form__type .legend {
    margin-right: 74px;
  }

  .type__label {
    &::before {
      margin-right: 28px;
    }
  }

  // color fieldset -----------------------------------------------------------

  .fieldset.order-form__color {
    width: 1150px;
    margin-bottom: 49px;
  }

  .order-form__color > .order-form__heading {
    padding-top: 18px;
    padding-right: 0;
    padding-left: 111px;
    background-color: transparent;
  }

  .order-form__color .legend {
    margin-right: 71px;
  }

  // name fieldset ------------------------------------------------------------

  .fieldset.order-form__name {
    width: 927px;
  }

  .order-form__name > .legend {
    padding-top: 18px;
    margin-right: 74px;
  }

  .name__item:first-of-type > .name__label {
    margin-right: 24px;
  }

  .name__input {
    width: 557px;
  }

  .name__item:first-of-type > .name__input {
    width: 608px;
  }

  // phone & email fieldset -------------------------------------------------------------

  .fieldset.order-form__phone,
  .fieldset.order-form__email {
    width: 1150px;
  }

  .fieldset.order-form__email {
    padding-top: 19px;
  }

  .order-form__phone > .legend {
    padding-left: 112px;
    margin-right: 81px;
  }

  .order-form__email > .legend {
    padding-top: 27px;
    padding-left: 111px;
    margin-right: 56px;
  }

  .phone,
  .email {
    width: 700px;
  }

  .phone__label {
    top: 17px;
    right: 8px;
  }

  .email__label {
    top: 18px;
    right: 3px;
  }

  // info fieldset --------------------------------------------------------------

  .fieldset.order-form__info {
    width: 922px;
  }

  .order-form__info > .legend {
    margin-right: 74px;
  }

  .additional-info {
    width: 664px;
    margin-bottom: 47px;
  }

  .order-form__bottom {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }

  .order-form__footnote {
    padding-top: 4px;
    padding-left: 0;
  }

  .order-form__send-btn {
    @include font(17px, 16px, bold);
    width: 196px;
  }
}
