.page-header {
  margin-right: auto;
  margin-left: auto;
}

.page-header__block {
  width: 100%;
}

.page-header__top {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 18px;
  margin-bottom: 1px;
  position: relative;
}

.page-header__link {
  position: relative;

  &::before {
    @include svg-ie-fix;
  }

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-header__menu-toggle {
  font-size: 0;
  padding: 20px;
  content: "";
  background-image: url("../img/icon-menu-open.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  display: block;
  position: absolute;
  top: 19px;
  right: 21px;
  box-sizing: content-box;
}

.page-header__menu-toggle--open {
  background-image: url("../img/icon-menu-close.svg");
  background-size: 21px 22px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
  }

  .page-header__block {
    width: 768px;
  }

  .page-header__top {
    padding-left: 50px;
    position: absolute;
    box-shadow: none;
  }

  .page-header__logo-image {
    width: 112px;
    height: auto;
  }

  .page-header__menu-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__block {
    width: 1150px;
  }

  .page-header__top {
    left: calc(50% - 75px);
    padding-top: 8px;
    padding-left: 0;
    box-shadow: none;
  }

  .page-header__logo-image {
    width: 149px;
  }
}
