.page-footer__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $grey;
}

.social__list {
  display: flex;
  align-items: center;
  width: 144px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.social__btn {
  display: block;
  font-size: 0;
}

.social__link--facebook {
  padding-left: 40px;
  margin-top: -2px;
}

.social__link--twitter {
  padding-left: 40px;
}

.copyright {
  display: flex;
  flex-direction: row;
  width: 260px;
  margin-bottom: 30px;
  box-shadow: 0 -1px 0 0 $black;
}

.copyright__text {
  @include font(19px, 18px, bold);
  padding-top: 26px;
  padding-left: 38px;
  margin-right: 29px;
}

.copyright__link {
  padding-top: 21px;
}

.copyright__link path {
  fill: $teal;
}

@media (min-width: 768px) {
  .page-footer__block::before {
    content: url("../../img/logo-footer.svg");
    padding-left: 52px;
    margin-right: 160px;
  }

  .page-footer__block {
    width: 772px;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 27px;
    padding-bottom: 25px;
  }

  .social__list {
    padding-top: 32px;
    margin-right: 40px;
  }

  .copyright {
    margin: 0;
    box-shadow: none;
  }

  .copyright__text {
    @include font(19px, 18px, bold);
    padding-top: 19px;
    margin-right: 31px;
  }

  .copyright__link {
    padding-top: 15px;
  }
}

@media (min-width: 1150px) {
  .page-footer__block {
    width: 1150px;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
  }

  .copyright {
    margin-right: 15px;
  }
}
