.page-header {
  margin: 0 auto;
}

.page-header__top {
  width: 184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 18px;
  margin: 0 auto;
  margin-bottom: 1px;
  transform: translateX(47px);
  position: relative;
}

.page-header__link {
  position: relative;

  &::before {
    @include svg-ie-fix;
  }

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-header__menu-toggle {
  font-size: 0;
  display: block;
  margin-top: -5px;
  padding: 20px;
  content: "";
  background-image: url("../img/icon-menu-open.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  box-sizing: content-box;

  &--open {
    background-image: url("../img/icon-menu-close.svg");
    background-size: 21px 22px;
  }

  &--nojs {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
  }

  .page-header__top {
    width: auto;
    padding-left: 2px;
    margin-left: 0;
    position: absolute;
    box-shadow: none;
  }

  .page-header__logo-image {
    width: 112px;
    height: auto;
  }

  .page-header__menu-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__top {
    left: 453px;
    padding-top: 8px;
    padding-left: 0;
    box-shadow: none;
  }

  .page-header__logo-image {
    width: 149px;
    height: auto;
  }
}
