.page-header {
  margin: 0 auto;
  z-index: 1000;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  position: relative;
}

.page-header__link {
  padding-top: 22px;
  padding-bottom: 17px;
}

.page-header__menu-toggle {
  font-size: 0;
  padding: 20px;
  content: "";
  background-image: url("../../img/icon-menu-open.svg");
  background-size: 20px 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  display: block;
  position: absolute;
  top: 19px;
  right: 21px;
}

.menu {
  @include font(17px, 24px, bold);
  max-height: 600px;
  display: flex;
  flex-direction: column;
}

.menu__item {
  display: flex;
  padding-top: 29px;
  padding-bottom: 32px;
  padding-left: 76px;
  position: relative;
  box-shadow: 0 1px 0 0 $white-four, inset 0 1px 0 0 $white-four;

  &--new {
    display: none;
  }

  &--sale {
    display: none;
  }

  &--delivery {
    display: none;
  }
}

.menu__search-btn {
  @include hide-btn-text();
  position: absolute;
  top: 32px;
  left: 32px;

  &::after {
    content: url("../../img/icon-search.svg");
    text-indent: 0;
    display: block;
    line-height: initial;
  }
}

.menu__cart-btn {
  @include hide-btn-text();
  position: absolute;
  top: 31px;
  left: 30px;
  margin-right: 30px;

  &::after {
    content: url("../../img/icon-cart.svg");
    text-indent: 0;
    display: block;
    line-height: initial;
  }
}

.menu__link {
  color: $black;
}

@media (min-width: 768px) {
  .page-header {
    display: flex;
  }

  .page-header__logo {
    padding-left: 50px;
    position: absolute;
  }

  .page-header__menu-toggle {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menu__item {
    box-shadow: inset 0 1px 0 0 $white-four;

    &--catalog {
      @include font(15px, 24px, bold);
      order: 3;
      padding-top: 19px;
      padding-bottom: 0;
      padding-left: 50px;
    }

    &--order {
      @include font(15px, 24px, bold);
      order: 4;
      margin-right: auto;
      padding-top: 19px;
      padding-bottom: 0;
      padding-left: 36px;
    }

    &--search {
      order: 1;
      padding-right: 5px;
      margin-left: 372px;
      box-shadow: 1px 0 0 0 $white-four, inset 1px 0 0 0 $white-four;
    }

    &--search > .menu__search-btn::after {
      top: 36px;
      left: 33px;
    }

    &--search > .menu__link {
      display: none;
    }

    &--cart {
      order: 2;
      box-shadow: none;
    }

    &--cart > .menu__link {
      padding-top: 2px;
      padding-left: 8px;
    }

    &--cart > .menu__cart-btn::after {
      top: 35px;
      left: 31px;
    }

    &--delivery {
      @include font(15px, 24px, normal, $greyish-brown);
      display: flex;
      padding-top: 19px;
      padding-bottom: 0;
      padding-left: 134px;
      flex-grow: 1;
      order: 5;
    }
  }
}

@media (min-width: 1150px) {
  .page-header__logo {
    margin-left: 500px;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }

  .menu__item {
    box-shadow: inset 0 1px 0 0 $white-four;

    &--catalog {
      @include font(17px, 24px, bold);
      order: 1;
      padding-top: 32px;
      padding-right: 36px;
    }

    &--order {
      @include font(17px, 24px, bold);
      order: 2;
      padding-top: 32px;
    }

    &--search {
      order: 3;
      margin-left: 200px;
    }

    &--cart {
      order: 4;
      padding-right: 52px;
    }

    &--new {
      @include font(15px, 24px, bold);
      display: flex;
      order: 5;
      padding-top: 19px;
      padding-right: 27px;
      padding-left: 50px;
    }

    &--sale {
      @include font(15px, 24px, bold);
      display: flex;
      order: 6;
      padding-top: 19px;
      padding-left: 34px;
      margin-right: auto;
    }

    &--delivery {
      order: 7;
      padding-top: 19px;
      padding-left: 505px;
      flex-grow: 1;
    }
  }
}
