
.popup {
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  background-color: rgba($white, 0.9);
  z-index: 9999;

  &--close {
    display: none;
  }
}

.popup__title {
  @include font(25px, 30px, bold);
  letter-spacing: 0.1px;
  text-transform: uppercase;
  text-align: center;
  width: 155px;
  padding-top: 30px;
  padding-left: 2px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.popup__form {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 45px;
}

.popup__group {
  margin-bottom: 24px;
}

.popup__text {
  @include font(15px, 30px, normal, $greyish-brown);
  text-align: center;
  margin-bottom: 23px;
}

.popup__btn-add {
  width: 260px;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  color: $white;
  background-color: $turquoise;
  border: none;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .popup__title {
    @include font(30px, 57px, bold);
    text-transform: uppercase;
    text-align: center;
    width: auto;
    padding-top: 33px;
    margin-bottom: 15px;
  }

  .popup__text {
    @include font(17px, 30px, normal, $greyish-brown);
    margin-bottom: 20px;
  }

  .popup__form {
    width: 350px;
  }

  .popup__btn-add {
    width: 350px;
  }
}
