.popup__title {
  @include font(25px, 30px, bold);
  text-transform: uppercase;
}

.popup__group {
  border: 0;
}

.popup__text {
  @include font(15px, 30px, normal, $greyish-brown);
}

.popup__add {
  color: $white;
  background-color: $teal;
  border: none;

  width: 260px;
  height: 52px;
}

.sizes__item {
  @include font(17px, 16px, bold, $greyish-brown);
}
