.production {
  margin-bottom: 58px;
}

.production__block {
  width: 260px;
  outline: 1px solid $white-four;
}

.production__container {
  display: flex;
  flex-direction: column;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  @include font(17px, 24px, bold);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 7px;
  padding-left: 90px;
  margin-bottom: 22px;
  position: relative;

  &::before {
    width: 32px;
    height: 22px;
    content: url("../img/icon-video.svg");
    position: absolute;
    top: 12px;
    left: 35px;
  }
}

.production__video {
  margin-bottom: 10px;
  position: relative;
}

.production__video-play {
  @include hide-btn-text();
  content: "";
  width: 101px;
  height: 77px;
  margin: 0;
  padding: 0;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 50px);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__text {
  @include font(13px, 24px, normal, $greyish-brown);
  width: 190px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
}

.production__order {
  width: 192px;
  margin: 0 auto;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .production {
    margin-bottom: 64px;
  }

  .production__block {
    width: 668px;
  }

  .production__title {
    @include font(20px, 24px, bold);
    align-items: center;
    align-self: flex-start;
    padding-top: 2px;
    padding-left: 40px;
    margin: 0;
    margin-bottom: 17px;

    &::before {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: static;
      padding-left: 0;
      margin-right: 34px;
    }
  }

  .production__video {
    margin-bottom: 31px;
    order: -1;
  }

  .production__video-image {
    width: 668px;
    height: auto;
  }

  .production__text {
    @include font(15px, 30px, normal, $greyish-brown);
    width: 586px;
    margin-bottom: 35px;
  }

  .production__order {
    width: 582px;
    margin-bottom: 44px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    margin-bottom: 105px;
  }

  .production__block {
    width: 1050px;
    position: relative;
  }

  .production__container {
    min-height: 454px;
  }

  .production__title {
    width: 236px;
    display: block;
    align-self: flex-end;
    padding-top: 49px;
    margin-right: 53px;
    margin-bottom: 33px;

    &::before {
      padding-left: 0;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  .production__description {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    margin-right: 58px;
  }

  .production__text {
    width: 228px;
    margin: 0;
    padding-right: 3px;
    margin-bottom: 46px;
  }

  .production__video {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
  }

  .production__video-image {
    width: 682px;
    height: auto;
  }

  .production__order {
    width: 230px;
  }

  .production__order-btn {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
