.production {
  margin-bottom: 58px;
}

.production__block {
  display: flex;
  justify-content: center;
}

.production__container {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid $white-four;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  @include font(17px, 24px, bold);
  width: 190px;
  display: flex;
  margin-bottom: 22px;
}

.production__icon-video {
  width: 34px;
  padding-top: 12px;
  margin-right: 25px;
  fill: $turquoise;
  box-sizing: content-box;
}

.production__title-name {
  display: block;
  width: 150px;
  padding-top: 7px;
}

.production__video {
  margin-bottom: 22px;
  position: relative;
}

.production__video-play {
  @include hide-btn-text();
  content: "";
  width: 101px;
  height: 77px;
  margin: 0;
  padding: 0;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 50px);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__text {
  @include font(13px, 24px, normal, $greyish-brown);
  width: 190px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.production__order {
  width: 192px;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .production {
    margin-bottom: 64px;
  }

  .production__block {
    width: 768px;
  }

  .production__container {
    width: 668px;
  }

  .production__title {
    @include font(20px, 24px, bold);
    width: auto;
    align-items: center;
    align-self: flex-start;
    padding: 0;
    padding-left: 40px;
    margin-bottom: 26px;
  }

  .production__icon-video {
    padding-top: 0;
    margin-right: 32px;
    fill: $turquoise;
  }

  .production__title-name {
    display: block;
    width: auto;
    padding-top: 0;
  }

  .production__video {
    margin-bottom: 10px;
    order: -1;
  }

  .production__video-image {
    width: 668px;
    height: auto;
  }

  .production__text {
    @include font(15px, 30px, normal, $greyish-brown);
    width: 586px;
    margin-bottom: 35px;
  }

  .production__order {
    width: 584px;
    margin-bottom: 44px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    margin-bottom: 105px;
  }

  .production__block {
    width: 1150px;
    position: relative;
  }

  .production__container {
    width: 1050px;
    min-height: 454px;
  }

  .production__title {
    width: 236px;
    display: block;
    align-self: flex-end;
    padding-top: 22px;
    padding-left: 0;
    margin-right: 53px;
    margin-bottom: 12px;
  }

  .production__icon-video {
    padding-top: 0;
    margin-bottom: 16px;
    fill: $turquoise;
  }

  .production__title-name {
    display: block;
    width: auto;
    padding-top: 0;
    margin-bottom: 21px;
  }

  .production__description {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    margin-right: 58px;
  }

  .production__text {
    width: 228px;
    margin: 0;
    padding-right: 3px;
    margin-bottom: 46px;
  }

  .production__video {
    position: absolute;
    margin: 0;
    top: 0;
    left: 50px;
  }

  .production__video-image {
    width: 682px;
    height: auto;
  }

  .production__order {
    width: 230px;
    margin: 0;
  }
}
