.reviews {
  @include font(15px, 30px, normal, $greyish-brown);
  margin-bottom: 45px;
}

.reviews__block {
  width: 260px;
  margin-right: auto;
  margin-left: auto;
}

.reviews__title {
  @include font(25px, 30px, bold);
  margin-bottom: 23px;
}

.reviews__write {
  letter-spacing: 0.5px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 70px;
  }

  .reviews > .wrapper {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__block {
    @include font(17px, 30px, normal, $greyish-brown);
    width: 670px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .reviews__title {
    @include font(43px, 50px, bold);
    padding-top: 79px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 31px;
    margin-left: -3px;
    order: -1;
  }

  .reviews__write {
    order: -1;
    padding-top: 80px;
    margin: 0;
  }

  .reviews__write-btn {
    letter-spacing: 0.1px;
    width: 142px;
    margin: 0;
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-bottom: 68px;
  }

  .reviews > .wrapper {
    background-position-x: 50px;
    background-position-y: 9px;
  }

  .reviews__block {
    width: 1050px;
  }

  .reviews__title {
    @include font(53px, 57px, bold);
    padding-top: 79px;
    padding-left: 175px;
  }

  .reviews__write {
    padding-top: 87px;
  }
}
