.reviews {
  @include font(15px, 30px, normal, $greyish-brown);
  margin-bottom: 85px;
  position: relative;

  &::after {
    width: 320px;
    height: 6px;

    content: "";
    position: absolute;
    bottom: -50px;
    left: calc(50% - 160px);
    background-color: transparent;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: space;
    background-size: 100% 100%;
    background-position: bottom center;
    transform: rotate(180deg);
  }
}

.reviews__container {
  width: 260px;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 134px;

    &::after {
      width: 768px;
      height: 15px;
      bottom: -85px;
      left: calc(50% - 384px);
    }
  }

  .reviews__container {
    width: 768px;
    padding: 0;
    display: flex;
    justify-content: center;
    background: url("../img/review@1x.jpg"),
      linear-gradient(to right, $grey-lite, $grey-lite 350px, transparent 350px, transparent 100%);
    background-repeat: no-repeat;
    background-size: 350px 457px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/review@2x.jpg"),
        linear-gradient(to right, $grey-lite, $grey-lite 350px, transparent 350px, transparent 100%);
      background-size: 350px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-bottom: 136px;

    &::after {
      width: 1050px;
      height: 23px;
      bottom: -88px;
      left: calc(50% - 525px);
    }
  }

  .reviews__container {
    width: 1150px;
    background-position-x: 50px;
  }
}
