.reviews {
  @include font(15px, 30px, normal, $greyish-brown);
  margin-bottom: 45px;
  background-color: lemonchiffon;

  &__title {
    @include font(25px, 30px, bold);
  }

  &__item {
    margin: 0;
    padding: 0;
  }

  &__author-name {
    @include font(17px, 24px, bold);
    font-style: normal;
  }

  &__author-nickname {
    font-weight: normal;
  }
}
