.slider__item {
  margin: 0;
}

.slider__title {
  @include font(25px, 30px, bold);
  margin-bottom: 23px;
}

.slider__text {
  margin-bottom: 29px;
}

.slider__text br {
  display: none;
}

.slider__name-block {
  @include font(17px, 24px, bold);
  font-style: normal;
  display: block;
  margin-bottom: 31px;
}

.slider__author-name {
  letter-spacing: 0.1px;
  display: block;
  margin-bottom: 5px;
}

.slider__author-nickname {
  font-weight: normal;
  display: block;
}

.slider__arrows-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 36px;
}

.slider__arrow {
  @include hide-btn-text();
  width: 130px;
  height: 50px;
  border: 1px solid $white-four;
  background-color: transparent;
  position: relative;
  cursor: pointer;

  &::after {
    text-indent: 0;
    line-height: initial;
    width: 50px;
    height: 26px;
    display: block;
    position: absolute;
    top: 12px;
    right: 41px;
  }

  &--prev {
    border-right: 0;

    &::after {
      content: url("../img/icon-left-arrow.svg");
    }

    &:hover,
    &:focus {
      &::after {
        opacity: 0.6;
      }
    }

    &:active {
      &::after {
        opacity: 0.3;
      }
    }
  }

  &--next {
    &::after {
      content: url("../img/icon-right-arrow.svg");
    }

    &:hover,
    &:focus {
      &::after {
        opacity: 0.6;
      }
    }

    &:active {
      &::after {
        opacity: 0.3;
      }
    }
  }
}

.slider__write {
  letter-spacing: 0.5px;
}

.slider__write-btn {
  width: 258px;
  letter-spacing: 0.5px;
}

@media (min-width: $tablet-width) {
  .slider {
    @include font(17px, 30px, normal, $greyish-brown);
    width: 670px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .slider__text {
    width: 650px;
    margin-bottom: 58px;
  }


  .slider__title {
    @include font(43px, 50px, bold);
    width: 430px;
    padding-top: 77px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 31px;
    margin-left: -3px;
    order: -1;
  }

  .slider__name-block {
    width: 260px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-bottom: 46px;
  }

  .slider__author-name {
    letter-spacing: 0.8px;
    margin-bottom: 6px;
  }

  .slider__arrows-group {
    padding: 0;
  }

  .slider__arrow {
    width: 75px;
    border: none;

    &::after {
      top: 15px;
      right: 20px;
    }
  }

  .slider__write {
    order: -1;
    padding-top: 78px;
    margin: 0;
  }

  .slider__write-btn {
    letter-spacing: 0.1px;
    width: 172px;
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    width: 1050px;
  }

  .slider__item {
    width: 100%;
  }

  .slider__title {
    @include font(53px, 57px, bold);
    width: 600px;
    padding-top: 71px;
    padding-left: 175px;
  }

  .slider__text {
    width: 770px;
    margin-left: 175px;
    margin-bottom: 40px;
  }

  .slider__text br {
    display: inline;
  }

  .slider__name-block {
    padding-left: 175px;
    padding-bottom: 52px;
  }

  .slider__author-name {
    width: 250px;
    letter-spacing: 0.1px;
  }

  .slider__write {
    padding-top: 79px;
  }
}
