.social__list {
  display: flex;
  width: 146px;
  padding-top: 25px;
  padding-bottom: 21px;
}

.social__item {
  &--instagram {
    padding-top: 6px;
    margin-right: 41px;
  }

  &--facebook {
    margin-right: 40px;
  }

  &--twitter {
    padding-top: 6px;
  }
}

.social__btn {
  display: block;
  font-size: 0;
  height: 30px;

  position: relative;

  &::before {
    @include svg-ie-fix;
  }

  &:hover,
  &:focus {
    fill: $turquoise-lite;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    padding-top: 29px;
    margin-right: 78px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    padding-top: 29px;
    margin-right: 0;
  }
}
