.top-products {
  @include font(15px, 24px, normal, $greyish-brown);
  margin-bottom: 68px;
  position: relative;

  &::after {
    width: 320px;
    height: 6px;

    content: "";
    position: absolute;
    bottom: -40px;
    left: calc(50% - 160px);
    background-color: transparent;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: space;
    background-size: 100% 100%;
    transform: rotate(180deg);
  }
}

@media (min-width: $tablet-width) {
  .top-products {
    @include font(17px, 30px, normal, $greyish-brown);
    margin-bottom: 118px;

    &::after {
      width: 768px;
      height: 15px;
      bottom: -70px;
      left: calc(50% - 384px);
      background-size: 768px 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .top-products {
    margin-bottom: 153px;

    &::after {
      width: 1050px;
      height: 23px;
      bottom: -93px;
      left: calc(50% - 525px);
      background-size: 1050px 100%;
    }
  }
}
