.type__label {
  @include font(17px, 18px, bold);
  display: flex;
  position: relative;
  box-sizing: content-box;
  cursor: pointer;

  &::before {
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid $black;
    border-radius: 50%;
    position: absolute;
  }

  &:hover {
    &::before {
      border: 2px solid $turquoise-hover;
    }
  }

  &:active {
    &::before {
      border: 2px solid rgba($greyish-brown, 0.3);
    }
  }
}

.type__item {
  &:first-of-type > .type__label {
    padding-top: 15px;
    padding-left: 62px;
    margin-bottom: 13px;
  }

  &:last-of-type > .type__label {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 62px;
  }

  &:first-of-type > .type__label::before {
    top: 7px;
    left: 0;
  }

  &:last-of-type > .type__label::before {
    top: 2px;
    left: 0;
  }

  &:first-of-type > .type__input:checked + .type__label::after {
    top: 19px;
    left: 12px;
  }

  &:last-of-type > .type__input:checked + .type__label::after {
    top: 15px;
    left: 12px;
  }
}

.type__input {
  &--radio:focus + .type__label::before {
    border: 2px solid $turquoise-hover;
  }

  &:checked + .type__label::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $turquoise;
    position: absolute;
  }
}

@media (min-width: $tablet-width) {
  .type__label {
    @include font(19px, 18px, bold);
    min-width: 253px;

    &::before {
      width: 48px;
      height: 48px;
    }
  }

  .type__item {
    &:first-of-type > .type__label {
      padding-top: 23px;
      padding-bottom: 23px;
      padding-left: 82px;
    }

    &:last-of-type > .type__label {
      padding-top: 23px;
      padding-bottom: 23px;
      padding-left: 82px;
    }

    &:first-of-type > .type__label::before {
      top: 8px;
      left: 1px;
    }

    &:last-of-type > .type__label::before {
      top: 7px;
      left: 1px;
    }

    &:first-of-type > .type__input:checked + .type__label::after {
      top: 24px;
      left: 16px;
    }

    &:last-of-type > .type__input:checked + .type__label::after {
      top: 23px;
      left: 16px;
    }
  }

  .type__input {
    &:checked + .type__label::after {
      width: 21px;
      height: 21px;
    }
  }
}

@media (min-width: $desktop-width) {
  .type__label {
    &::before {
      margin-right: 28px;
    }
  }

  .type__item {
    &:first-of-type > .type__label {
      width: 333px;
    }

    &:last-of-type > .type__label {
      width: 253px;
    }

    &:first-of-type > .type__label::before {
      top: 9px;
      left: 1px;
    }

    &:last-of-type > .type__label::before {
      top: 8px;
      left: 1px;
    }

    &:first-of-type > .type__input:checked + .type__label::after {
      top: 25px;
      left: 16px;
    }

    &:last-of-type > .type__input:checked + .type__label::after {
      top: 24px;
      left: 16px;
    }
  }
}
