.type__item {
  display: flex;
  position: relative;


  &:first-of-type > .type__label::before {
    top: 0;
  }

  &:first-of-type > .type__input:checked + .type__label::after {
    top: 12px;
    left: 12px;
  }
}

.type__label {
  @include font(17px, 18px, bold);
  display: flex;
  align-items: center;
  min-height: 52px;
  padding-left: 63px;
  cursor: pointer;

  &::before {
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid $black;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    top: 8px;
    left: 0;
  }

  &:hover {
    &::before {
      border: 2px solid $turquoise-hover;
    }
  }

  &:active {
    &::before {
      border: 2px solid rgba($greyish-brown, 0.3);
    }
  }
}

.type__input {
  &--radio:focus + .type__label::before {
    border: 2px solid $turquoise-hover;
  }

  &:checked + .type__label::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $turquoise;
    position: absolute;
    top: 20px;
    left: 12px;

  }
}

@media (min-width: $tablet-width) {
  .type__label {
    @include font(19px, 18px, bold);
    min-width: 253px;
    min-height: 64px;
    padding-left: 82px;

    &::before {
      width: 48px;
      height: 48px;
      left: 1px;
    }
  }

  .type__item {
    &:not(:last-of-type) {
      margin-bottom: 13px;
    }

    &:first-of-type > .type__label::before {
      top: 8px;
      left: 1px;
    }

    &:first-of-type > .type__input:checked + .type__label::after {
      top: 24px;
      left: 16px;
    }
  }

  .type__input {
    &:checked + .type__label::after {
      width: 21px;
      height: 21px;
      top: 24px;
      left: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .type__item {
    &:first-of-type > .type__input:checked + .type__label::after {
      top: 24px;
      left: 17px;
    }
  }

  .type__input {
    &:checked + .type__label::after {
      top: 24px;
      left: 17px;
    }
  }
}
