.wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 320px;
}

@media (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}

@media (min-width: 1150px) {
  .wrapper {
    width: 1150px;
  }
}
