*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-primary;
  background-color: $white;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.block {
  box-sizing: content-box;
}

.button {
  @include font(17px, 20px, bold, $greyish-brown);
  font-family: $font-primary;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 256px;
  height: 48px;
  background-color: $white;
  border: 2px solid $greyish-brown;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.hidden {
  display: none;
}

.list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.divider {
  width: 319px;
  height: 6px;
  margin: 0 auto;
  content: "";
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 2px;
  transform: rotate(180deg);
}

.divider:first-of-type {
  margin-bottom: 27px;
}

.divider:last-of-type {
  margin-bottom: 35px;
}

.wrapper {
  margin: 0 auto;
  width: 320px;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
  }

  .divider {
    width: 771px;
    height: 15px;
    margin-bottom: 50px;
    background-size: cover;
    transform: rotate(180deg) scaleX(1.02);
  }

  .wrapper {
    width: 772px;
  }
}

@media (min-width: 1150px) {
  body {
    min-width: 1050px;
  }

  .divider {
    width: 1050px;
    height: 23px;
    background-size: contain;
    transform: rotate(180deg);
  }

  .wrapper {
    width: 1150px;
  }
}

// временная обводка крупных блоков
header {
  position: relative;
  outline: 2px solid mediumseagreen;

  &::before {
    content: attr(class);
    width: auto;
    height: auto;
    background-color: mediumseagreen;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
  }
}


// section {
//   position: relative;
//   outline: 2px solid indianred;

//   &::before {
//     content: attr(class);
//     background-color: indianred;
//     color: white;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
// }

article {
  position: relative;
  box-shadow: inset 0 0 0 2px skyblue;


  &::before {
    content: attr(class);
    background-color: skyblue;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
  }
}

footer {
  position: relative;
  outline: 2px solid indigo;

  &::before {
    content: attr(class);
    background-color: indigo;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
  }
}
