*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-primary;
  min-width: 320px;
  margin: 0;
  background-color: $white;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

@mixin svg-ie-fix {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.hidden {
  display: none;
}

.list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
}

@media (min-width: 1150px) {
  body {
    min-width: 1150px;
  }
}
