$white: rgba(255, 255, 255, 1);
$white-four: rgba(236, 236, 236, 1);
$black: rgba(0, 0, 0, 1);
$black-opacity-20: rgba(0, 0, 0, 0.2);
$grey: rgba(241, 241, 241, 1);
$turquoise: rgba(99, 209, 187, 1);
$turquoise-darken: rgba(86, 195, 178, 1);
$greyish-brown: rgba(68, 68, 68, 1);
$font-primary: "Open Sans", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1150px;
