$white: #ffffff;
$white-four: #ececec;
$black: #000000;
$blue-green: #149080;
$grey-border: #c6c6c6;
$grey: #f1f1f1;
$grey-lite: #f9f9f9;
$turquoise: #63d1bb;
$turquoise-lite: #46c1ae;
$turquoise-darken: #56c3b2;
$turquoise-hover: #62d1ba;
$greyish-brown: #444444;
$blue-outline: #a3c6fd;
$font-primary: "Open Sans", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
